[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
lxml = "*"
pyclip = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
build = "*"
changes-semver = "*"

[requires]

python_version = "3.12"
